.videos {
    display: flex;
    flex-wrap: wrap;
    margin: -.55em;

    & > * {
        display: block;
        position: relative;
        overflow: hidden;
        width: calc(20% - 1.1em);
        /*padding-top: calc(20% - 1.1em);*/
        margin: .55em;

        .thumbnail {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            background-color: #000;
            background-size: cover;
            background-position: center;
        }

        .processing {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            color: #FFF;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, .9);

            i {
                font-size: 32px;
                margin-bottom: 15px;
            }
        }

        @media (max-width: 1024px) {
            width: calc(25% - 1.1em);
            /*padding-top: calc(25% - 1.1em);*/
        }

        @media (max-width: 720px) {
            width: calc(33.333333% - 1.1em);
            /*padding-top: calc(33.333333% - 1.1em);*/
        }

        @media (max-width: 480px) {
            width: calc(50% - 1.1em);
            /*padding-top: calc(50% - 1.1em);*/
        }

        @media (max-width: 320px) {
            width: auto;
            /*padding-top: 0;*/
        }

        .video-delete {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.5em;
            text-align: center;
            color: #FFF;
            background: rgba(0, 0, 0, .5);
            opacity: 0;
            font-size: 1em;
            padding: 0;
            cursor: pointer;
            transition: all .15s ease-in;

            i {
                opacity: .8;
            }

            &:hover {
                i {
                    opacity: 1;
                }
            }
        }

        &:hover {
            .video-delete {
                opacity: 1;
            }
        }
    }
}
