:root {
    --white: #FFF;
    --black: #000;
    --violet: #4D23B3;
    --red: #FA6251;
    --pink: #FF6056;
    --pink-swan: #B7B7B7;
    --green: #9AA610;
    --gray: #818996;
    --mirage: #1E2638;
    --azure-radiance: #00A7FF;
    --manatee: #9099A9;
    --curious-blue: #23A3D7;
    --dark-violet: #230769;
    --dark-blue: #050855;
}